@media screen and (min-width: 800px) {
    .presentation1 {
        display: none;
    }

    .presentation2 {
        background-image: url(https://cassandra-svd.fr/Images/presentation.png);
        background-size: 100% 100%;
        padding-top: 700px;
        margin-bottom: 30px;
    }
}