.presentation {
    
    background-image: url("/Images/ordinateur_entete.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: white;
}

.services{
    box-shadow: 4px 2px 2px 1px rgba(0, 0, 0, 0.2) ;
    border-radius: 10px;
    background-color: #cfcec9;
    animation-name: animArrivee;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-direction: alternate;
}

.realisation{
    background-color:  #cfcec9;
}



