.presentation {
    background-image: url("/Images/ordinateur_entete.jpg");
    background-size: cover;
    text-align: center;
    color: white;
}

.services{
    background-color: #cfcec9;
    width: 100%;
}



