.bouton {
    background-color: $vert;

    &:hover {
        background-color: $vert;
        opacity: 0.50;
    }
}

.bouton1 {
    height: 40px;

    &:hover {
       background-color: white;
    }
    
}