.tableau{
    // border: 5px thick double gray;
    box-shadow: 4px 2px 2px 1px rgba(0, 0, 0, 0.2) ;
    width: 60%;
    border-left: 1px solid #d1a431;
    border-top: 1px solid #d1a431;
}

.section  {
    display: none;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    color: $vertClair;
}

.icons {
    color: #d1a431;
}