$bleu : #63c3e9;
$rose : #ea98ad;
$vert : #bbb14e;
$roseClair : #eddde3;
$violet : #da658a;
$vertClair : #8dbbb2;
$marron : #8e806d; 

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');


.pFontSize {

    font-size: 12px;
}

.footer p {

    font-size: small;
}

h2 {
    font-family: 'Parisienne', cursive;
    font-size: 40px;
}

